<div class="jumbotron">
  <div class="container">
    <h1>Angular IOS Toggle Switch</h1>
    <p>
      Toggle switch button made using
      <a href="https://.angular.io">Angular</a>!
    </p>
  </div>
  <div class="bottom">

    <iframe src="https://ghbtns.com/github-btn.html?user=zainzafar90&amp;repo=angular-switchery-ios&amp;type=watch&amp;count=true" class="social-share"></iframe>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Angular%20Switchery%20IOS%20toggle%20made%20for%20angular%204%20%26%205&hashtags=AngularSwitcheryIOS&amp;via=mzainzafar90">Tweet</a>
  </div>
</div>
